.contact {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    height: 100vh;
    padding: 0;
}

.contact h1 {
    text-align: center;
}

.contactButton {
    display: flex;
    font-family: Rubik, sans-serif;
    font-size: 1.6rem;
    gap: 2rem;
}

.buttonContainer {
    display: flex;
    font-size: 1.6rem;
    justify-content: center;
    padding-top: 5rem;
}

.buttonContainer a {
    align-items: center;
    color: #fff;
    display: flex;
    font-weight: 700;
    text-decoration: none;
    background-color: #ff4d30;
    border: 2px solid #ff4d30;
    border-radius: 0.3rem;
    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, .35);
    transition: all .3s;
}

.buttonContainer a:hover {
    background-color: #fa4226;
    box-shadow: 0 10px 15px 0 rgba(255, 83, 48, .6);
}

.contact>.contactButton {
    align-self: center;
    justify-content: center;
}

.contact p {
    text-align: center;
}

@media (max-width: 640px) {
    .contact h1 {
        font-size: var(--fontsize-md);
        padding-bottom: 3rem;
    }

    .contact p {
        font-size: var(--fontsize-sm);
        margin-top: 1.0rem;
    }

    .contact {
        margin: 0 3rem;
    }

    .buttonContainer a {
        padding: 0.8rem 1.1rem;
    }

    .buttonContainer {
        font-size: var(--fontsize-md);
    }
}

@media (min-width: 640px) {
    .contact h1 {
        font-size: var(--fontsize-xl);
        padding-bottom: 3rem;
    }

    .contact p {
        font-size: var(--fontsize-md);
        margin-top: 1.8rem;
    }

    .contact {
        margin: 0 10rem;
    }

    .buttonContainer a {
        padding: 0.9rem 1.3rem;

    }

    .buttonContainer {
        font-size: var(--fontsize-xl);
    }
}

@media (min-width: 768px) {
    .contact h1 {
        font-size: var(--fontsize-xl);
        padding-bottom: 3rem;
    }

    .contact p {
        font-size: var(--fontsize-lg);
        margin-top: 1.8rem;
    }

    .contact {
        margin: 0 13rem;
    }

    .buttonContainer a {
        padding: 1.0rem 1.5rem;
    }

    .buttonContainer {
        font-size: var(--fontsize-xl);
    }
}

@media (min-width: 1024px) {
    .contact h1 {
        font-size: var(--fontsize-xxl);
        padding-bottom: 3rem;
    }

    .contact p {
        font-size: var(--fontsize-xl);
        margin-top: 2rem;
    }

    .contact {
        margin: 0 13rem;
    }

    .buttonContainer a {
        padding: 1.0rem 1.5rem;
    }

    .buttonContainer {
        font-size: var(--fontsize-xxl);
    }
}